spring:
  datasource:
    url: jdbc:postgresql://dpg-d5unult6ubrc73bt1rq0-a.singapore-postgres.render.com:5432/task_management_0ok9?sslmode=require
    username: task_management_0ok9_user
    password: lxy0Sh84Koesc2w4aVYOspTVMqzwJaz3
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true


server:
  port: 8080
